aiogram
alembic
async-timeout
attrs
Babel
chardet
idna
multidict==4.7.3
pytz==2020.1
yarl==1.18
regex
dateparser
python-Levenshtein
requests
sqlalchemy
pytest
numpy
pandas
aiohttp
openpyxl
transitions
python-dotenv